{# empty Twig template #}
{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <form action="" method="post" >
        <div class="row">
            <div class="container text-center">
                <div class="row m-md-tb-2">
                    <h1 class="small-first-line">
                        Elige que género quieres<br>
                        <strong>CANTAR</strong>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="circle-wrap-genero">
                            <div class="circle-content-genero">
                                <input class="hidden" name="genero" type="radio" value="pop" />
                                {% image '@SonicBundle/Resources/public/images/genero1.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <h2>POP</h2>
                    </div>

                    <div class="col-xs-8">
                        <div class="circle-wrap-genero">
                            <div class="circle-content-genero">
                                <input class="hidden" name="genero" type="radio" value="rock" />
                                {% image '@SonicBundle/Resources/public/images/genero2.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <h2>ROCK</h2>
                    </div>
                    <div class="col-xs-8">
                        <div class="circle-wrap-genero">
                            <div class="circle-content-genero">
                                <input class="hidden" name="genero" type="radio" value="cumbia" />
                                {% image '@SonicBundle/Resources/public/images/genero3.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <h2>CUMBIA</h2>
                    </div>
                </div>

                <div class="row m-md-t-4" >
                    <div class="btn-wrap">
                        <a class="a-submit btn btn-circle btn-circle-md ico-micro" href="#"></a>
                        <p class="m-md-t-1">
                            <a class="a-submit" href="#">A cantar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}