{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-24 clear-fix">
                    <div class="m-md-t-2">
                        <h1>
                            <strong>
                                !QUÉ SHOW<br>
                                ACABAS DE DAR!
                            </strong>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="circle-wrap">
                    <div class="circle-content">
                        <div class="image-wrap">
                            {% image '@SonicBundle/Resources/public/images/circle.png' %}
                            <img src="{{ asset_url }}" alt="" class="responsive-image" />
                            {% endimage %}
                        </div>
                        <div class="info-wrap p-absolute p-y-middle p-x-middle">
                            <i class="icon ico-micro"></i>
                            <h2><strong>Lograste</strong></h2>
                            <h1>{{score.score|number_format(0, '.', ',') }}</h1>
                            <h2><strong>{{position}}• lugar</strong></h2>
                        </div>
                        <div class="btn-group p-absolute p-y-middle col-xs-push-21">
                            <div class="btn-wrap">
                                <a class="btn btn-circle btn-circle-sm ico-plus" href="{{ path('game') }}"> </a>
                                <p>Otros géneros</p>
                            </div>
                        </div>
                    </div>
                    {% include 'SonicBundle:Buttons:circles.html.twig' %}
                </div>
            </div>
            {% include 'SonicBundle:Buttons:pills.html.twig' %}
        </div>
    </div>
{% endblock %}