{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class="row text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-24 text-center">
                    <div class="m-md-t-2">
                        <h1>
                            El show<br>
                            <strong>DEBE CONTINUAR</strong>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="circle-wrap">
                    <div class="circle-content">
                        <div class="image-wrap">
                             {% image '@SonicBundle/Resources/public/images/circle.png' %}
                        <img src="{{ asset_url }}" alt="" class="responsive-image" />
                        {% endimage %}
                        </div>

                        <div class="btn-group p-absolute p-y-middle p-x-middle">
                            <div class="btn-wrap">
                                <a class="btn btn-circle btn-circle-lg ico-pause" href="{{ path('genero') }}"> </a>
                                <p>Continua cantando</p>
                            </div>
                        </div>
                    </div>
                    {% include 'SonicBundle:Buttons:circles.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
