{% extends 'SonicBundle::base.html.twig' %}
{% block body %}

    <div class="row text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-24 text-center">
                    <div class="m-md-t-2">
                        <h1>
                            !El público<br>
                            <strong>PIDE MAS!</strong>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="circle-wrap">
                    <div class="circle-content">
                        <div class="image-wrap">
                            {% image '@SonicBundle/Resources/public/images/circle.png' %}
                            <img src="{{ asset_url }}" alt="" class="responsive-image" />
                            {% endimage %}
                        </div>

                        <div class="btn-group p-absolute p-y-middle p-x-middle">
                            <div class="btn-wrap">
                                <a class="btn btn-circle btn-circle-lg ico-reset" href="{{ path('genero') }}"> </a>
                                <p>Canta otra vez</p>
                            </div>
                        </div>

                        <div class="btn-group p-absolute p-y-middle col-xs-push-21">
                            <div class="btn-wrap">
                                <a class="btn btn-circle btn-circle-sm ico-plus" href="{{ path('genero') }}"> </a>
                                <p>Otros géneros</p>
                            </div>
                        </div>
                    </div>
                    {% include 'SonicBundle:Buttons:circles.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

