{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class='row m-md-t-3'>
        <div class="container">
            <div class='row'>
                <div class='col-xs-9'>
                    <div class="full-circle-wrap">
                        <div class="full-circle-content p-absolute p-y-middle p-x-middle">
                            <div  class='image-wrap circle-image-wrap' style='background-image: url({{score.usuario.image}})'>
                            </div>
                        </div>
                        <div class='user-score-wrap p-absolute p-bottom p-x-middle text-center'>
                            <h2><strong>{{friend_score.usuario ? friend_score.usuario.name:'N/A'}}</strong></h2>
                            <h1 class='fs-italic'>{{friend_score.score|number_format}}</h1>
                            <h3><strong>{{position_friend}}° lugar</strong></h3>
                        </div>
                    </div>
                </div>
                <div class='col-xs-8 col-xs-over-1 text-center'>
                    <div class='row'>
                        <div class='col-xs-24'>
                            <span class='circles l-circles'></span>
                            <i class="icon ico-micro"></i>
                            <span class='circles r-circles'></span>
                        </div>
                    </div>
                    <div class='info-wrap m-md-t-2'>
                        <h1>
                            <strong>
                                ¿Han pensado<br>
                                formar un grupo?
                            </strong>
                        </h1>
                    </div>
                    <hr>
                    {% include 'SonicBundle:Buttons:circles.html.twig' %}
                    {% include 'SonicBundle:Buttons:pills.html.twig' %}
                </div>
                <div class='col-xs-9'>
                    <div class="full-circle-wrap">
                        <div class="full-circle-content p-absolute p-y-middle p-x-middle">
                            <div  class='image-wrap circle-image-wrap' style='background-image: url({{score.usuario.image}})'>
                            </div>
                        </div>
                        <div class='user-score-wrap p-absolute p-bottom p-x-middle text-center'>
                            <h2><strong>{{score.usuario ? score.usuario.name:'N/A'}}</strong></h2>
                            <h1 class='fs-italic'>{{score.score|number_format}}</h1>
                            <h3><strong>{{position}}° lugar</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}