{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    "bundles/sonic/bootstrap/css/bootstrap.css"
    "bundles/sonic/zetter/css/zetter.css"
    "bundles/sonic/fonts/louis.css"
    "bundles/sonic/bxslider/jquery.bxslider.css"
    "bundles/sonic/fancybox/jquery.fancybox.css"
    "bundles/sonic/css/style.css"
    "bundles/sonic/css/mediaqueries.css"
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block content %}
    <div class="site-wrap container-fluid">
        {% include 'SonicBundle:Default:header.html.twig' %}
        {% block background %}
        {% endblock %}
        <div class="main-wrap {{ app.request.get('_route') != 'homepage' ?'p-absolute p-y-middle p-x-middle' }} {{ app.request.get('_route') }}-content">
            <div class="main-content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block loader %}
        {% endblock %}
        {% include 'SonicBundle:Default:footer.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        var retaste_url = "{{path('retaste')}}";
    </script>
    {% javascripts
    "@SonicBundle/Resources/public/js/jquery-1.12.3.min.js"
    "@SonicBundle/Resources/public/bootstrap/js/bootstrap.min.js"
    "@SonicBundle/Resources/public/bxslider/jquery.bxslider.min.js"
    "@SonicBundle/Resources/public/fancybox/jquery.fancybox.pack.js"
    "@SonicBundle/Resources/public/validate/jquery.validate.min.js"
    "@SonicBundle/Resources/public/validate/additional-methods.min.js"
    "@SonicBundle/Resources/public/validate/localization/messages_es.min.js"
    "@SonicBundle/Resources/public/js/main.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lt IE 9]>
          <script src="html5shiv/html5shiv.min.js"></script>
          <script src="respond/respond.min.js"></script>
    <![endif]-->
{% endblock %}