{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class="row text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-24 text-center">
                    <div class="m-md-t-2">
                        <h1 class="small-first-line">
                            Retaste a tomar el microfono a<br>
                            <strong>Amigo</strong>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="circle-wrap">
                    <div class="circle-content">
                        <div class="image-wrap">
                            {% image '@SonicBundle/Resources/public/images/perfil.png' %}
                            <img src="{{ asset_url }}" alt="" class="responsive-image" />
                            {% endimage %}
                        </div>
                    </div>
                    <div class="btn-group full-width">
                        <div class="btn-wrap m-xs-r-1">
                            <a class="btn btn-circle btn-circle-md ico-home" href="{{ path('homepage') }}"> </a>
                            <p>Inicio</p>
                        </div>
                        <div class="btn-wrap m-xs-l-1">
                            <a href="{{path('game')}}" class="btn btn-circle btn-circle-md ico-reset">  </a>
                            <p>Cantar <br>otra vez</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

