{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div id="html5Loader" style="height:100%; z-index:1000"></div>
    <div id="wrapper" style="height:100%; z-index:1000">
    </div>

    {% if isMobile %}
        <video id="chevrolet-feliz" class="video-js vjs-default-skin" crossorigin="anonymous" controls>
            <source src="{{asset('bundles/sonic/videos/'~genero~'/'~genero~'_feliz_mobile.mp4')}}" type='video/mp4'>
        </video>

        <video id="chevrolet-triste" class="video-js vjs-default-skin" crossorigin="anonymous" controls>
            <source src="{{asset('bundles/sonic/videos/'~genero~'/'~genero~'_triste.mp4')}}" type='video/mp4'>
        </video>

    {% else %}
        <div id="chevrolet-feliz" class="grabbable" data-video-src="{{asset('bundles/sonic/videos/'~genero~'/'~genero~'_feliz.mp4')}}" style="width:100%; height:100%; position:absolute; z-index:2;"></div>
        <div id="chevrolet-triste" class="grabbable" data-video-src="{{asset('bundles/sonic/videos/'~genero~'/'~genero~'_triste.mp4')}}" style="width:100%; height:100%; position:absolute; z-index:1;"></div>
    {%endif %}

    <div id="header"></div>
    {% image '@SonicBundle/Resources/public/img/logo.png' %}
    <img onclick="home();"  id="logo" src="{{ asset_url }}" />
    {% endimage %}
    <p id="conoce">Conoce más del Chevrolet Sonic</p>

    <div id="container_score">
        <p id="txtscore" class="text_color">Score</p>
        <p id="pichAudio" hidden>Score</p>
        <p id="value_score" class="text_color">000,000</p>
        {% image '@SonicBundle/Resources/public/img/detalleScore.png' %}
        <img id="detalle_score" src="{{ asset_url }}" />
        {% endimage %}
        <p class="text_color" style="display:none">Time</p>
        <p id="currentAudioTime" style="display:none" class="text_color">0</p>	
    </div>

    <div id="container_sub">
    </div>

    <canvas id="level" style="width: 100%; height: 50px; position: absolute; z-index: 50; left: 0px; bottom: 0px;"></canvas>

    <div id="sub_current"></div> 
    {% image '@SonicBundle/Resources/public/img/move_right.png' %}
    <img id="move_right" src="{{ asset_url }}" />
    {% endimage %}
    {% image '@SonicBundle/Resources/public/img/move_left.png' %}
    <img id="move_left" src="{{ asset_url }}" />
    {% endimage %}
    {% image '@SonicBundle/Resources/public/img/icon360.png' %}
    <img id="icon360" src="{{ asset_url }}" />
    {% endimage %}
    {% image '@SonicBundle/Resources/public/img/ondasAmarillas.png' %}
    <img id="ondas" src="{{ asset_url }}" />
    {% endimage %}
    {% image '@SonicBundle/Resources/public/img/indicador.png' %}
    <img id="indicador" src="{{ asset_url }}" />
    {% endimage %}


    <div id="record" class="evento">
        {% image '@SonicBundle/Resources/public/img/agarrandoCelular.png' %}
        <img style="width: 125px;" src="{{ asset_url }}" />
        {% endimage %}

        {% if isMobile %}
            <p style="font-size:19px;">Desliza Hacia Arriba  </p>
            <p>Para Activar el</p>
            <p>Microfono</p>
        {% else %}
            <p style="font-size:20px;">Clic Aqui</p>
            <p>Activar el Microfono</p>
        {% endif %}
    </div>

    <div id="play_btn" class="evento disabled">
        {% image '@SonicBundle/Resources/public/img/btnPlayOn.png' %}
        <img onclick="play();"src="{{ asset_url }}" />
        {% endimage %}
        <p style="font-size:20px;">¡Estas Listo!</p>
        <p>Para Cantar</p>
    </div>

    <div id="compartir" class="evento disabled">
        {% image '@SonicBundle/Resources/public/img/iconMano.png' %}
        <img onclick="share();"src="{{ asset_url }}" />
        {% endimage %}
        <p style="font-size:20px;">¡Genial!</p>
        <p>Cantaste muy bien</p>
        {% image '@SonicBundle/Resources/public/img/compartirFacebook2.png' %}
        <img onclick="share();" style="width:140px; margin-top:5px;" src="{{ asset_url }}" />
        {% endimage %}
    </div>


    {% image '@SonicBundle/Resources/public/img/play.png' %}
    <img  onclick="play();" id="play_btn" src="{{ asset_url }}" />
    {% endimage %}
    {% image '@SonicBundle/Resources/public/img/microfono.png' %}
    <img id="record" src="{{ asset_url }}" />
    {% endimage %}
{% endblock %}
{% block topjavascripts %}
    <script type="text/javascript">
        var url_to_score = "{{path('save_score',{'genero':genero})}}";
        var genero = "{{genero}}";
    </script>
    {% javascripts
    "@SonicBundle/Resources/public/js/iphone-inline-video.browser.js"
    "@SonicBundle/Resources/public/src/recorder.js"
    "@SonicBundle/Resources/public/src/Fr.voice.js"
    "@SonicBundle/Resources/public/js/jquery.js"
    "@SonicBundle/Resources/public/js/app.js"
    "@SonicBundle/Resources/public/js/animations/jquery.html5Loader.circular.js"
    "@SonicBundle/Resources/public/js/jquery.html5Loader.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{%endblock %}
{% block javascripts %}

    {% if isMobile %}
        {% javascripts
    
    "@SonicBundle/Resources/public/js/video.js"
    "@SonicBundle/Resources/public/js/three_mobile.js"
    "@SonicBundle/Resources/public/js/videojs-panorama.v5.js"

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts
    "@SonicBundle/Resources/public/js/three.js"
    "@SonicBundle/Resources/public/js/jquery.valiant360.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    {% javascripts
    "@SonicBundle/Resources/public/js/functions.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        var loaderAnimation = $("#html5Loader").LoaderAnimation({
            onComplete: function () {
                console.log("preloader animation completed!");
            }
        });

        var browser = navigator.userAgent.toLowerCase();

        function isMobile() {
            var check = false;
            (function (a) {
                if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4)))
                    check = true
            })(navigator.userAgent || navigator.vendor || window.opera);
            return check;
        }

        if (isMobile())
        {
            var player_feliz = null;
            var player_triste = null;
            var path = "/bundles/sonic/js/json/" + genero + "/files_mobile.json";
            $.html5Loader({
                filesToLoad: path,
                onComplete: function () {
                    console.log("All the assets are loaded! = " + browser + "");
                    $('#wrapper').hide(1000);
                    $('.vjs-big-play-button').hide();
                    (function (window, videojs) {
                        var player_feliz = window.player_feliz = videojs('chevrolet-feliz', {}, function () {
                            window.addEventListener("resize", function () {
                                var canvas = player_feliz.getChild('Canvas');
                                if (canvas)
                                    canvas.handleResize();
                            });
                        });
                        var videoElement = document.getElementById("chevrolet-feliz");
                        var width = videoElement.offsetWidth;
                        var height = videoElement.offsetHeight;
                        player_feliz.width(width), player_feliz.height(height);
                        player_feliz.panorama({
                            clickToToggle: (!isMobile()),
                            autoMobileOrientation: true,
                            initFov: 100,
                            VREnable: isMobile(),
                            NoticeMessage: (isMobile()) ? "Video 360° desplaza con el dedo" : "please use your mouse drag and drop the video",
                            callback: function () {
                                if (!isMobile())
                                    player_feliz.play();
                            }
                        });

                        player_feliz.on("VRModeOn", function () {
                            player_feliz.controlBar.fullscreenToggle.trigger("tap");
                        });
                    }(window, window.videojs));

                    (function (window, videojs) {
                        var player_triste = window.player_triste = videojs('chevrolet-triste', {}, function () {
                            window.addEventListener("resize", function () {
                                var canvas = player_triste.getChild('Canvas');
                                if (canvas)
                                    canvas.handleResize();
                            });
                        });
                        var videoElement = document.getElementById("chevrolet-triste");
                        var width = videoElement.offsetWidth;
                        var height = videoElement.offsetHeight;
                        player_triste.width(width), player_triste.height(height);
                        player_triste.panorama({
                            clickToToggle: (!isMobile()),
                            autoMobileOrientation: true,
                            initFov: 100,
                            VREnable: isMobile(),
                            NoticeMessage: (isMobile()) ? "Video 360° desplaza con el dedo" : "please use your mouse drag and drop the video",
                            callback: function () {
                                if (!isMobile())
                                    player_triste.play();
                            }
                        });

                        player_triste.on("VRModeOn", function () {
                            player_triste.controlBar.fullscreenToggle.trigger("tap");
                        });
                    }(window, window.videojs));
                },
                onUpdate: loaderAnimation.update
            });
        }
        else
        {
            path = "/bundles/sonic/js/json/" + genero + "/files_desktop.json";
            $.html5Loader({
                filesToLoad: path,
                onComplete: function () {
                    if (browser.indexOf('firefox') > -1) {
                        $('#chevrolet-feliz').Valiant360();
                    }
                    else
                    {
                        $('#chevrolet-triste').Valiant360();
                        $('#chevrolet-feliz').Valiant360();
                    }
                    console.log("All the assets are loaded! = " + browser + "");
                    $('#wrapper').hide(1000);
                    $('.vjs-big-play-button').hide();
                },
                onUpdate: loaderAnimation.update
            });
        }
    </script>
{% endblock %}


{% block stylesheets %}
    {% stylesheets
    "bundles/sonic/css/mediaqueries.css"
    "bundles/sonic/css/valiant360.css"
    "bundles/sonic/css/styles.css"
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% if isMobile %}
        {% stylesheets
    "bundles/sonic/css/video-js.css"
    "bundles/sonic/css/videojs-panorama.css"
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>
            #chevrolet-feliz{
                position: absolute;
                width: 100.1%;
                height: 100.1%;
                top: 0;
                left: 0;
                z-index:2;
            }

            #chevrolet-triste{
                position: absolute;
                width: 100.1%;
                height: 100.1%;
                top: 0;
                left: 0;
                z-index:1;
            }
        </style>
    {% endif %}
{% endblock %}