<div class='footer-wrap'>
    <div class='footer-content row'>
        <div class="col-xs-24 text-right">
            <p class="m-xs-r-2"><a href="{{ path('legales') }}">Legales</a></p>
        </div>
    </div>
</div>