<div class="header-wrap row">
    <div class='header-content'>
        <div class="col-xs-12">
            <a class="logo" href="{{ path('homepage') }}">
            </a>
        </div>
        <div class="col-xs-12 text-right">
            <a class="btn btn-pill" href="#">Conoce más del nuevo Chevrolet Sonic</a>
        </div>
    </div>
</div>