<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Sonic Karaoke{% endblock %}</title>
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        {% block topjavascripts %}
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}

        {#% block analytics %}
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-62339012-1', 'auto');
                ga('send', 'pageview');
            </script>
        {% endblock %#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.user %}
            <script type="text/javascript">
                var user_id = "{{app.user.facebookId}}";
                var access_token = "{{app.user.facebookAccessToken}}";
            </script>
        {% endif %}


        <div id="fb-root"></div>
        {% block content %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>