<div class="btn-group flex-wrap full-width flex-three-columns">
    <div class="btn-wrap">
        <a class="btn btn-circle btn-circle-md ico-home" href="{{ path('homepage') }}"> </a>
        <p>Inicio</p>
    </div>
    <div class="btn-wrap m-md-t-5">
        <a class="do-share btn btn-circle btn-circle-md ico-share">  </a>
        <p>Comparte <br> la diversion</p>
    </div>
    <div class="btn-wrap">
        <form class="ajax-submit" method="post" action="{{path('challenge_create')}}">
            <a class="btn btn-circle btn-circle-md ico-challenge a-submit"> </a>
            <p>Reta a un amigo<br> a superar tu talento</p>
                {% if score is defined %}
                <input type="hidden" value="{{score.id}}" name="score" />
                <input type="hidden" value="{{score.genero}}" name="genero" />
            {% endif %}
        </form>
    </div>
</div>