<div class="row m-md-t-2">
    <div class="col-xs-24">
        <a href="#" class="btn btn-pill m-xs-r-1">Conóce más de Sonic</a>
        <a href="{{ path('ranking') }}" class="btn btn-pill m-xs-r-1">Ver ranking completo</a>
    </div>
</div>