{% extends 'SonicBundle::base.html.twig' %}

{% block background %}
    {% image '@SonicBundle/Resources/public/images/home/bg.jpg' %}
    <div class='bg-wrap' style='background-image: url({{ asset_url }});'></div>
    {% endimage %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class='container'>
            <div class='row'>
                <div class="col-xs-7 col-xs-offset-3">
                    <div class='row'>
                        {% image '@SonicBundle/Resources/public/images/template/logo-karaoke.png' %}
                        <img src="{{ asset_url }}" alt="" class='responsive-image' />
                        {% endimage %}
                    </div>
                </div>
                <div class="col-xs-push-8 col-xs-6">
                    <div class="row">
                        <h1 class="small-first-line fs-bold-italic">
                            NUEVO<br>
                            CHEVROLET<br>
                            <span class="m-xs-l-5">SONIC<sup>®</sup> 2017</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class='row m-md-t-5'>
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <a href="{{path('game')}}" class="btn btn-circle btn-circle-lg ico-play m-xs-r-1"></a>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-circle btn-circle-sm ico-fb m-xs-l-1"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
