/*
    Created on : Jul 11, 2015, 2:25:10 AM
    Author : ZER0
*/
/*
COLORS
COLOR: #HEX;
*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.bx-wrapper,.bx-wrapper *{ position: initial; }
html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
    font-family: 'Louis-Regular', Arial, sans-serif !important;
    font-weight: 400;
}
html, body {
    height: 100%;
    min-height: 100%;
    background-color: black;
}
body {
    font-size: 0;

}
h1,h2,h3,h4{
    margin: 0;
    font-weight: 400;
    color: #fff;
}
h1 { font-size: 3.5rem; }
h2 { font-size: 2.5rem; }
h3 {
    font-size: 1.8rem;
    font-family: 'Louis-CondensedRegular';
}
h4 {
    font-size: 1.6rem;
    font-family: 'Louis-CondensedRegular';
}
p, li {
    font-size: 1.8rem;
    line-height: 1.2em;
    color: inherit;
}
strong{ font-weight: 700; }

label { font-size: 1.4rem; }
.fs-italic{ font-family: 'Louis-Italic'; }
.fs-bold-italic{ font-family: 'Louis-BoldItalic'; }
.responsive-media > *{
    width: 100%;
    max-width: 100%;
}
/*slider*/
.slider-loading .bx-viewport,
.slider-loading .bx-wrapper{
    position:relative;
    width:100%;
    height:100% !important;
    top:0;
    left:0;
}
.slider-loading, .slider-loading .slide-wrap { height: 100vh !important;; }
.slider-loading .slide-wrap {
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.fondo1{ background-image: url('../images/fondo1.png'); }
.fondo2{ background-image: url('../images/fondo2.jpg'); }
.fondo3{ background-image: url('../images/fondo3.jpg'); }
.fondo4{ background-image: url('../images/fondo4.png'); }

/*load*/
.opaque{
    padding-top: 7%;
    padding-bottom: 3%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+50 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
p{ color: white; }
h1 strong,
h2 strong,
h3 strong,
h4 strong{ color: #f0b522; }


.circle-wrap{
    width:36.6%;
    min-width:75px;
    max-width:511px;
    margin: auto;
}

.circle-content{
    padding: 7.63209% 19.96086% 12.32876%;
    background-image: url(../images/circle-vect.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -12%;
}

.circle-wrap-genero{
    width:100%;
    min-width:75px;
    max-width:511px;
    margin: auto;
}
.circle-content-genero{
    padding: 12.63209% 12.96086% 12.32876%;
    background-image: url(../images/circle-vect-short.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -6%;
}
.circle-content-genero:hover,
.circle-content-genero.active{
    padding: 12.63209% 12.96086% 12.32876%;
    background-image: url(../images/circle-select.png);
}

.text-3{ font-size: 3rem; }
.btn.btn-continue:focus{ outline: none; }

/*0*/
.p-absolute{ position: absolute; }
.p-x-middle{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.p-y-middle{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.p-x-middle.p-y-middle{
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.p-bottom{ bottom: 0; }
.p-right{ right: 0; }
.full-width{ width: 100%; }

.small-first-line:first-line{ font-size: .65625em; }

.site-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.header-wrap{
    border-bottom: 1px solid #876d26;
    background-color: #000;
    padding: 1rem 0;
}
.logo{
    background-image: url(../images/template/logo-chevrolet.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1rem;
    width: 14.2rem;
    height: 2.3rem;
    display: inline-block;
}
.footer-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
}
.bg-wrap{
    background-position: center -40px;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
.btn-wrap{
    display: inline-block;
    vertical-align: top;
}
.btn-circle{
    border-radius: 50%;
    background-color: #3f3f3f;
    font-size: 2rem;
    border: 2px solid #838485;
    color: #78787a;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    background-size: contain;
}
.btn-circle:hover{
    background-color: #856614;
    border: 2px solid #f0b522;
}
.btn-circle-lg{
    width: 10rem;
    height: 10rem;
}
.btn-circle-md{
    width: 7.4rem;
    height: 7.4rem;
}
.btn-circle-sm{
    width: 5.2rem;
    height: 5.2rem;
}

.btn-pill{
    padding: 1rem 2rem;
    background-color: #1c1c1c;
    border-radius: 2.5rem;
    border: 1px solid #3f3e3e;
    color: #fff;
    font-size: 1.1rem;
    display: inline-block;
}
.btn-pill:hover{
    color: #fff;
    background-color: #525458;
}

.txt-as-ico{ font-size: 4rem; }
.icon{
    width: 3.3rem;
    padding-top: 5.6rem;
    height: 0;
    display: inline-block;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.ico-micro{ background-image: url(../images/ico/micro.png); }
.ico-share{ background-image: url(../images/ico/share.png); }
.ico-home{ background-image: url(../images/ico/home.png); }
.ico-challenge{ background-image: url(../images/ico/challenge.png); }
.ico-plus{ background-image: url(../images/ico/plus.png); }
.ico-next{ background-image: url(../images/ico/next.png); }
.ico-pause{ background-image: url(../images/ico/pause.png); }
.ico-reset{ background-image: url(../images/ico/reset.png); }
.ico-play{ background-image: url(../images/ico/play.png); }
.ico-fb{ background-image: url(../images/ico/fb.png); }
.border-b{ border-bottom: 1px solid #313032; }

.rank-item{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.circle-image-wrap{
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.circle-image-wrap.bordered-wrap{
    padding: .2rem;
    background-color: #f0b522;
}


.full-circle-wrap{
    width:100%;
    padding-top: 100%;
    display: block;
    background-image: url(../images/full-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.full-circle-content{
    width: 61.5%;
    height: 61.5%;
}
.full-circle-content .circle-image-wrap{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}
.circles{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10.6rem;
    height: .9rem;
    vertical-align: baseline;
    display: inline-block;
}
.l-circles{ background-image: url(../images/l-circles.png); }
.r-circles{ background-image: url(../images/r-circles.png); }

.user-score-wrap{
    margin-bottom: -2rem;
}

.homepage-content{
    margin-top: 9rem;
}
.progress{
    height: 2px;
}