@font-face {
    font-family: LouisRegular;
    src: url(fonts/LouisItalic.woff);
}

body {
	background-color: #000000;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "LouisRegular";
}
p
{
	margin:0px;	
}
#info {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family:"LouisRegular";
	font-size:13px;
	font-weight: bold;
	text-align:center;
}

a {
	color: #ffffff;
}
#container
{
	width:720px;
	height:405px;
}

#header
{
	width:100%;
	height:70px;
	background:#000;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	opacity:0.8;
	border-bottom: 2px solid #A09F71;
	
}

#logo
{
	position:absolute;
	top: 20px; left: 20px;
	z-index:3;
	cursor:pointer;
}

#conoce
{
	position:absolute;
	right: 20px; top: 20px;
	z-index:3;
	cursor:pointer;
	width:auto;
	padding: 8px 13px;
	color:white;
	font-size:12px;
	border-radius:15px; 
	border:1px solid #2B2B2B; 
	background:#1C1C1C
}

#txtscore
{
	color:#E5B441;
	font-size:20px;
	margin-right: 48px;
}

#detalle_score
{
	position:relative;
	top: -19px; left: 55px;
}

#value_score
{
	color:white;
	font-size:34px;
	padding-bottom:3px;
	border-bottom:1px solid #959E98; 
	text-align:left;
	
}

#container_score
{
	position:absolute;
	top:80px;
	right:20px;
	z-index:2;
	font-size:20px;
	font-weight:700;
	text-align:right;
	top: 100px; right: 100px;
	width: 180px; height: 78px;
}

#container_sub
{
	width:100%;
	height:80px;
	background:#000;
	opacity:0.3;
	position:absolute;
	bottom:40px;
	left:0px;
	z-index:2;
}

#sub_current
{
	font-size:20px;
	font-weight:700;
	text-align:center;
	color:#efb523;
	position:absolute;
	bottom:70px;
	left:0px;
	z-index:2;
	width:100%;
}

#sub_time
{
	font-size:20px;
	font-weight:700;
	text-align:center;
	color:#efb523;
	position:absolute;
	bottom:70px;
	left:0px;
	z-index:2;
	width:100%;
}

.text_color
{
	color:#efb523;
	font-size:23px;
}

#move_right
{
	position:absolute;
	top:40%;
	right:20%;
	z-index:2;
	cursor:pointer;
}

.evento
{
	margin-top: -90px; 
	margin-left: -85px; 
	width: 170px; 
	height: 180px;
	position:absolute;
	top:50%;
	left:50%;
	z-index:4;
	cursor:pointer;
	color:white;
	text-align:center;
	padding-top:20px;
}

#indicador
{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-121.5px;
	margin-top:-121.5px;
	z-index:3;
	cursor:pointer;
}

#icon360
{
	position:absolute;
	top:45%;
	left:5%;
	z-index:3;
	cursor:pointer;
}

#ondas
{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-208px;
	margin-top:-213.5px;
	z-index:2;
	cursor:pointer;
}

.disabled
{
	display:none;
}

.enable
{
	display:initial;
}

#move_left
{
	position:absolute;
	top:40%;
	left:20%;
	z-index:2;
	cursor:pointer;
}

#move_left:hover, #move_right:hover
{
	opacity:0.7;
}

#audio_bar
{
	position:absolute;
	bottom:30%;
	left:30px;
	z-index:2;
	width:5px;
	height:300px;
}

.circle_bar
{
	width:5px;
	height:5px;
	background-color:#efb523;
	border-radius:5px;
	position:absolute;
	bottom:0px;
	left:-2px;
}

.line_bar
{
	width:1px;
	height:300px;
	background-color:#efb523;
	border-radius:5px;
}

.warp
{
	position:relarive;
}

#txtaudio
{
	font-size:13px;
	font-weight:700;
	color:#efb523;
	position:absolute;
	top:0px;
	left:5px;
	z-index:2;
	width:100px;
}

#html5Loader{
	top:0;
	left:0;
	background-color:black;
	margin:0;
	position:fixed;
}
#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	color:#efb523;
	vertical-align: middle;
	display: block;
	font-style: normal;
	font-family: "LouisRegular";
	font-size:23px;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 667px)
{
	#conoce
	{
		position:absolute;
		right: 10px; top: 10px;
		z-index:3;
		cursor:pointer;
		width:auto;
		padding: 6px 11px;
		color:white;
		font-size:10px;
		border-radius:15px; 
		border:1px solid #2B2B2B; 
		background:#1C1C1C
	}
	
	#header {
		background: #000 none repeat scroll 0 0;
		border-bottom: 2px solid #a09f71;
		height: 45px;
		left: 0;
		opacity: 0.8;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	#logo
	{
		position:absolute;
		top: 15px; left: 15px;
		z-index:3;
		cursor:pointer;
		width:130px;
	}
	
	#icon360
	{
		position:absolute;
		left:10px;
		top:70px;
		z-index:4;
		cursor:pointer;
		width:55px;
	}
	
	#move_left 
	{
		cursor: pointer;
		left: 20%;
		position: absolute;
		top: 50%;
		margin-top:-40px;
		z-index: 2;
		height:80px;
	}
	
	#move_right 
	{
		cursor: pointer;
		position: absolute;
		right: 20%;
		top: 50%;
		margin-top:-40px;
		z-index: 2;
		height:80px;
	}	
	
	#sub_current {
		bottom: 70px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
	}
	
	#sub_time {
		bottom: 70px;
		color: #efb523;
		font-size: 18px;
		font-weight: 700;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
	}
	
	.text_color {
		color: #efb523;
		font-size:18px;
	}
	
	#container_score
	{
		width:160px;
		height:50px;
		position:absolute;
		top:65px;
		right:15px;
		z-index:4;
		font-weight:700;
		text-align:right;
	}
	
	#txtscore
	{
		color:#E5B441;
		font-size:18px;
		margin-right:0px;
	}

	#detalle_score
	{
		position:relative;
		top: -15px; left:0px;
		width:50px;
	}

	#value_score
	{
		color:white;
		font-size:26px;
		padding-bottom:3px;
		border-bottom:1px solid #959E98; 
		text-align:left;
	}
	
	#audio_bar {
		bottom:40%;
		height:100px;
		left: 30px;
		position: absolute;
		width: 5px;
		z-index: 2;
	}
	
	.line_bar {
		background-color: #efb523;
		border-radius: 5px;
		height:100px;
		width: 1px;
	}
	
	#container_sub
	{
		width:100%;
		height:100px;
		background:#000;
		opacity:0.3;
		position:absolute;
		bottom:40px;
		left:0px;
		z-index:2;
	}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation : landscape)
{
	
	#header {
		background: #000 none repeat scroll 0 0;
		border-bottom: 2px solid #a09f71;
		height: 45px;
		left: 0;
		opacity: 0.8;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	
	#conoce
	{
		position:absolute;
		right: 10px; top: 10px;
		z-index:3;
		cursor:pointer;
		width:auto;
		padding: 6px 11px;
		color:white;
		font-size:10px;
		border-radius:15px; 
		border:1px solid #2B2B2B; 
		background:#1C1C1C
	}
	
	#logo
	{
		position:absolute;
		top: 15px; left: 15px;
		z-index:3;
		cursor:pointer;
		width:130px;
	}
	
	#icon360
	{
		position:absolute;
		left:10px;
		top:70px;
		z-index:4;
		cursor:pointer;
		width:55px;
	}
	
	#move_left 
	{
		display:none;
	}
	
	#move_right 
	{
		display:none;
	}	
	
	#sub_time {
		bottom: 50px;
		color: #efb523;
		font-size: 16px;
		font-weight: 700;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
	}
	
	.text_color {
		color: #efb523;
		font-size:18px;
	}
	
	#container_score
	{
		width:160px;
		height:50px;
		position:absolute;
		top:65px;
		right:15px;
		z-index:4;
		font-weight:700;
		text-align:right;
	}
	
	#txtscore
	{
		color:#E5B441;
		font-size:18px;
		margin-right:0px;
	}

	#detalle_score
	{
		position:relative;
		top: -15px; left:0px;
		width:50px;
	}

	#value_score
	{
		color:white;
		font-size:26px;
		padding-bottom:3px;
		border-bottom:1px solid #959E98; 
		text-align:left;
	}
	
	#audio_bar {
		bottom:40%;
		height:100px;
		left: 30px;
		position: absolute;
		width: 5px;
		z-index: 2;
	}
	
	.line_bar {
		background-color: #efb523;
		border-radius: 5px;
		height:100px;
		width: 1px;
	}
	
	#container_sub
	{
		width:100%;
		height:45px;
		background:#000;
		opacity:0.3;
		position:absolute;
		bottom:40px;
		left:0px;
		z-index:2;
	}
	
	#sub_current {
		bottom: 57px;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
	}
}