{# empty Twig template #}
{% extends 'SonicBundle::base.html.twig' %}
{% block background %}
    <div class='row'>
        <div class="slider-wrap slider-loading">
            <div class="slider-content" data-auto="true" data-controls="false" data-mode="fade" data-pager='false'>
                <div class="slide-wrap fondo1"></div>
                <div class="slide-wrap fondo2"></div>
                <div class="slide-wrap fondo3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block loader %}
    <div class='row text-center p-absolute p-bottom  opaque full-width '>
        <div class="">
            <div style="margin: 1% auto">
                {% image '@SonicBundle/Resources/public/images/audif.png' %}
                <img src="{{ asset_url }}" alt="logo" />
                {% endimage %}
            </div>

            <h2 style="margin: 2% auto; color: white">Para una mejor experiencia
                usa audífonos</h2>

            <h1 style="margin: 2rem auto;color: #f0b522">CARGANDO...</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:2px ">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
     <script type="text/javascript">
         setTimeout(function () {
              window.location = "{{path('homepage')}}";
         }, 10000);
     </script>
{% endblock %}