{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class='container'>
        <div class="row">
            <div class="col-xs-24 text-center">
                <div class="m-md-t-1">
                    <h1 class="small-first-line">
                        Es momento de cantar con<br>
                        <strong>TODO EL SENTIMIENTO</strong>
                    </h1>
                    <p>Saca la diversion que llevas dentro con Chevrolet Sonic®</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="slider-wrap text-center">
                <div class="slider-content" data-auto="true" data-controls="false" data-pager="false" data-mode="fade">
                    <!-- DISEÑO -->
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/img-circle2.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div>
                            <h3>Diseñado para acompañarte<br>en cualquier aventura,<br>con equipamiento de primer nivel.</h3>
                        </div>
                    </div>
                    <!-- SMARTPHONE INTEGRATION -->
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/img-circle3.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div>
                            <h3>Tecnología Smartphone Integration con<br>Apple CarPlay y Android Auto, que proyecta tus Apps<br>en la pantalla de 7 pulgadas</h3>
                        </div>
                    </div>
                    <!-- ONSTAR -->
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/img-circle.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div>
                            <h3>OnStar es capaz de enviarte al instante <br> ayuda mecanica, medica o darte indicaciones</h3>
                            <h3>de navegación a cualquier destino.</h3>
                        </div>
                    </div>
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/tip1.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div>
                            <h3>Inspirate cantando<br>y acomula puntos</h3>
                        </div>
                    </div>
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/tip2.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div>
                            <h3>Sigue las flechas para ver <br>si eres un exito... o no.<br>Configuralo como quieras.</h3>
                        </div>
                    </div>
                </div>
                <div class="m-md-t-2">
                    <a href="{{path('game')}}" class="btn btn-circle btn-circle-md ico-next" >
                    </a>
                    <p class="m-md-t-1"><a href="{{path('game')}}">Continuar</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}