{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class='row'>
        <div class='container'>
            <div class="row">
                <div class="col-xs-24 text-center">
                    <h1><strong>Mejores Puntajes</strong></h1>
                </div>
            </div>
            <div class="row m-md-t-2">
                <div class="col-xs-11 col-xs-offset-6">
                    {% for score in ratings %}
                        <div class="row border-b rank-item">
                            <div class="col-xs-5">
                                <div class="image-wrap circle-image-wrap bordered-wrap">
                                    <img src="{{score.0.usuario.image}}" alt="" class="responsive-image" />
                                </div>
                            </div>
                            <div class="col-xs-12 m-md-t-1 text-left">
                                <h2><strong>{{score.0.usuario.name}}</strong></h2>
                                <h2 class="text-3">{{score.max_score|number_format}}</h2>
                            </div>
                            <div class="col-xs-7 m-md-t-3">
                                <h2><strong>{{loop.index}}º Lugar</strong></h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
